<div class="bg-body dark:bg-darkmode-body">
  {{ $image := .Params.image }}
  {{ if $image }}
    {{ if or (strings.HasPrefix $image "http") (strings.HasPrefix $image "/images/") }}
      <img
        src="{{ $image | relURL }}"
        alt="{{ .Title }}"
        class="mb-6 w-full rounded object-cover"
        loading="lazy"
        width="800"
        height="450" />
    {{ else }}
      {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Class" "mb-6 w-full rounded") }}
    {{ end }}
  {{ end }}
  <h4 class="mb-3">
    <a href="{{ .RelPermalink }}">
      {{ .Title }}
    </a>
  </h4>
  {{ $categories := .Params.categories }}
  <ul class="mb-4">
    {{ if .Params.author }}
      <li class="mr-4 inline-block">
        <a href="{{ `authors/` | relLangURL }}{{ .Params.author | urlize }}/">
          <i class="fa-regular fa-circle-user mr-2"></i>{{ .Params.author }}
        </a>
      </li>
    {{ end }}
    {{ if $categories }}
      <li class="mr-4 inline-block">
        <i class="fa-regular fa-folder mr-1"></i>
        {{ range $i, $p := $categories }}
          <a
            href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/"
            class="ms-1"
            >{{ . | humanize }}{{ if ne $i (sub (len $categories) 1) }}
              {{ "," }}
            {{ end }}
          </a>
        {{ end }}
      </li>
    {{ end }}
  </ul>
  <p class="mb-6">{{ .Summary | plainify }}</p>
  <a class="btn btn-outline-primary btn-sm" href="{{ .RelPermalink }}">
    {{ T "read_more" | default "Read More" }}
  </a>
</div>
