{{ define "main" }}
  <section class="section-sm about-layout">
    <div class="container">
      <div class="about-layout__grid">
        <div>
          {{ if .Params.image }}
            {{ $img := .Params.image }}
            <div class="about-layout__image">
            {{ if or (strings.HasPrefix $img `http`) (strings.HasPrefix $img `/images/`) }}
              <img
                src="{{ $img | relURL }}"
                alt="{{ .Title }}"
                width="320"
                height="320"
                loading="eager" />
            {{ else }}
              {{ partial "image" (dict "Src" $img "Context" .Page "Alt" .Title ) }}
            {{ end }}
            </div>
          {{ end }}
        </div>
        <div>
          <h2 class="h3 mb-6">{{ .Title }}</h2>
          <div class="content">{{ .Content }}</div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
